.header {
    
    display: flex;
    list-style: none;
    background-color: white;
    height: 7.5rem;
    justify-content: center;

    &__container {
      display: flex;
      list-style: none;
      margin: auto;
      width: 100%;
      max-width: var(--container-md);
      align-items: center;
    }

    &__logo {
      width: 50%;
    }

    &__nav {
       

      ul {

        display: flex;
        list-style: none;

        a {
          color: var(--terzo-color);
          margin: .625rem;
          padding-bottom: 2.75rem;
          text-decoration: none;
          font-weight: bold;
        }

        .active a:hover {
          border-bottom: .3125rem solid var(--primary-color);
          color: var(--primary-color);
        }
      }
    }
  }